:root {
  --color-yellow: #fdff00;
  --color-gold: #988829;
  --color-black: #242424;
  --color-navy: #282e3c;
  --color-slate: #505c7c;

  --text-primary: #eeeeee;
  --text-secondary: #b9c0cf;

  --slidev-theme-primary: var(--color-yellow);
}

@font-face {
  font-family: 'Trajan';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/TrajanRegular.otf') format('opentype');
}
